body{
    background:#f4f4f4;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:500px;
    margin:60px auto;
    background:white;
    border-radius:15px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.container h1{
    text-align:center;
    color:#1428A0;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    font-weight:bold;
}

input, select, textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

textarea{
    resize:none;
}

button{
    width:100%;
    margin-top:25px;
    padding:14px;
    background:#25D366;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
    transition:.3s;
}

button:hover{
    background:#1daa55;
}
