body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}   

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.testbtn {
  display: flex;
  background-color: #f9f9f9;
  color: black;
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: lighter;
}

.testbtn:hover {
  background-color: navy;
  color: white;
  font-weight: bolder;
}

.logo {
  align-items: baseline;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  gap: 10px;
  color: red;
}

.warna {
  color: navy;
}

.tentang {
  padding: 100px 12%;
}

.header {
  margin-top: 0;
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  margin-top: 0;
  font-size: 40px;
  color: navy;
}

.header h3 {
  color: red;
  font-style: italic;
  margin-top: 10px;
}

/* bikin sejajar */
.tentang-wrapper {
  display: flex;
  align-items: center; 
  gap: 80px;
}

/* gambar kiri */
.image {
  width: 40%;
}

.image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* teks kanan */
.text {
  width: 60%;
}

/* paragraf */
.text p {
  font-size: 18px;
  line-height: 1.9;
  text-align: justify;
}

.popup {
  position: fixed;
  top: 90px;
  right: 180px;
  width: 300px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  z-index: 9999;
  display: none;
}

.popup.show {
  display: block;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center;
}

.popup li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.popup a:hover {
  color: navy;
  font-weight: bold;
}